<!-- index section -->
    <section id="kulp" class="d-flex flex-column justify-content-center align-items-left">
        <div class="kulp-container" data-aos="fade-in">
            <h1>Kulpreet Singh</h1>
            <p>An ambitious programmer, who have great knowledge in computer languages, and would like to join the developers team.</p>
        </div>
    </section>

     <section id="project" class="project">
            <div class="container">

                <div class="section-title">
                    <h2>Bit about me!</h2>
                    <p>I started studing in georgian college in september, 2021 with a computer programming in which I have 4 september with different computer languages, such as Java, Php, .net, JavaScript.
                        Along with this in this course I also learned Spanish languase with general subjects. </p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="project-title">Sumary</h3>
                        <div class="project-item pb-0">
                            <h4>Kulpreet Singh </h4>
                            <p><em>Computer programmer with good knowledge of programming languages. Along with Innovative Website Designer</em></p>
                            <ul>
                                <li>Barrie, Ontario, CA</li>
                                <li>(123) 456-7891</li>
                                <li>kulpreet@gmail.com</li>
                            </ul>
                        </div>

                        <h3 class="project-title">Education</h3>
                        <div class="project-item">
                            <h4>Computer programmer</h4>
                            <h5>2019 - 2021</h5>
                            <p><em>Georgian College, Barrie</em></p>
                            <p>Georgian College and International Language Academy of Canada (ILAC), one of the most awarded language schools in the world have entered into partnership – the first of its kind for Georgian.</p>
                        </div>
                        <div class="project-item">
                            <h4>Science &amp; Maths</h4>
                            <h5>2015 - 2018</h5>
                            <p><em>XYZ High school, IN</em></p>
                            <p>In my high school, I learned science subjects such as, Chemistry, physics, Biology along with Maths.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="project-title">Professional Experience</h3>
                        <div class="project-item">
                            <h4>Store Associate</h4>
                            <h5>2019 - Present</h5>
                            <p><em>Barrie, ON</em></p>
                            <ul>
                                <li>Showing excellent customer skill by welcome customers with friendly smile.</li>
                                <li>Ensuring their needs by organization and prioritization of products. </li>
                                <li>Product analysis in terms of sale popularity.</li>
                                <li>Inventory Count and rotation, check product expiry.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>

<!-- index closed -->


   

