<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

<!--horizontal navbar-->
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://www.bing.com/th?id=OIP.G1Emv8lokvKYxvqGRRFEfwAAAA&w=163&h=133&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2" alt="" width="50" height="50" style="border-radius: 50%;">
            </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/about'>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                  
                </ul>
        </div>
    </nav>

	{{{body}}}

     <!--Footer -->
     <section id="footerSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="border-right: 1px solid #fff;">
                        <img src="https://www.bing.com/th?id=OIP.G1Emv8lokvKYxvqGRRFEfwAAAA&w=163&h=133&c=8&rs=1&qlt=90&o=6&dpr=1.25&pid=3.1&rm=2" alt="" width="200" height="200" style="border-radius: 50%;">
                </div>
                <div class="col-lg-9">
                    <p class="pt-3 pb-4" style="border-bottom: 1px solid #fff; color: #ffefd1;">To view more about me, there are links below to view my LinkedIn profile and GitHub :)  </p>
                    <div class="social-links mt-5 text-center">
                        <!--Adding the links for the two -->
                        <a href="https://www.linkedin.com/in/kulpreet-singh-95a58219b/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                        <a href="https://github.com/Kulpreet8668/WalmartInventory"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
    </section>
    
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>2021</span></strong>
            </div>
            <div class="credits">
                Designed by <a href="/">Kulpreet Singh</a>
            </div>
        </div>
    </footer>
    <!-- End  Footer -->
  </body>
</html>
